body {
	height: 600px;
	width: 255px;
	min-height: 100% !important;
	overflow: hidden;
  font-family: Helvetica, Arial , sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.back_forth {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 125px;
  top: 585px;
  color: white;

  cursor: pointer;
}
#front {

	overflow: hidden;
	background-color: transparent;
  height: 100%;
  width: 100%;
  .debug_msg {
  	position: absolute;
  	top:0;
  	left:0;
  	margin: 0;
  	padding: 0;
  }
  .debug_el {
  	text-align: center;
  	top: 10px;
  	width: 155px;
  	left: 50px;
  	position: absolute;
  	background-color: white;
  	color:black;
  	margin: 0;
  	padding: 0;
  }
  #maxVol {
    position: relative;
    bottom: 70px;
    left: 24px;
    width: 200px;
    z-index: 994;
  }
  #maxVolLabel {
    position: relative;
    bottom: 65px;
    left: 100px;
    z-index: 994;
    font-size: 15px;
    color: white;
    text-align: center;
  }
}

#back {
  height: 100%;
  width: 100%;
  background: transparent url(../img/remote_back.png) no-repeat;
  color: white;
  text-align: center;
  label {
    float:left;
    width: 100%;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 14px;
  }
}
.testbox {
	position: absolute;
  pointer-events: none;
	border: 1px solid red;
}
