html {
  width: 255px;
}
body {
//	height: 600px;
	width: 255px;
  margin: 0;
	//min-height: 100% !important;
	//overflow: hidden;
  font-family: Helvetica, Arial , sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.back_forth {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 125px;
  top: 585px;
  color: white;

  cursor: pointer;
}
#front {
	//overflow: hidden;
	//background-color: transparent;
  //height: 100%;
  //width: 100%;
  .debug_msg {
  	position: absolute;
  	top:0;
  	left:0;
  	margin: 0;
  	padding: 0;
  }
  .debug_el {
  	text-align: center;
  	top: 10px;
  	width: 155px;
  	left: 50px;
  	position: absolute;
  	background-color: white;
  	color:black;
  	margin: 0;
  	padding: 0;
  }
  #maxVol {
    position: relative;
    bottom: 70px;
    left: 24px;
    width: 200px;
    z-index: 994;
  }
  #maxVolLabel {
    position: relative;
    bottom: 65px;
    left: 100px;
    z-index: 994;
    font-size: 15px;
    color: white;
    text-align: center;
  }
}
#ip_adress {
  position: absolute;
  top: 50px;
  left: 5px;
  width: 245px;
  height: 15px;
}
#back {
  display: none;
  //height: 100%;
  //width: 100%;
  //
  //text-align: center;
  .done {
    position: absolute;
    left: 96px;
    top: 75px;
  }
  label {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 85px;
  }
}
.testbox {
	position: absolute;
  pointer-events: none;
	border: 1px solid red;
}
.backImg {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
}
