!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
	%head
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
		%script{type: "text/javascript", src: "/System/Library/WidgetResources/AppleClasses/AppleInfoButton.js", charset: "utf-8"}
		%script{type: "text/javascript", src: "/System/Library/WidgetResources/AppleClasses/AppleAnimator.js", charset: "utf-8"}
		%script{type: "text/javascript", src: "/System/Library/WidgetResources/AppleClasses/AppleButton.js", charset: "utf-8"}
		%script{type: "text/javascript", src: "js/jquery.js"}
		%script{type: "text/javascript", src: "js/app.js"}
		
		%link{rel: "stylesheet", href: "css/app.css"}
	%body
		#front
			#to_back.back_forth{style: 'visibility: visible; opacity:0;'}
				%a
					%span.config_icon
			%img{src: 'img/remote2.png', height: '600px', width: '255px'}
		#back
			%label{for: 'ip_adress'} Receiver IP
			%input{name: 'ip_adress', type: 'text', value: '', id: 'ip_adress'}
			.done